*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}

nav a{
  margin: 0 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.CA, .EN{
  display: none;
}

#ca{z-index: 1}
#en{z-index: 2}
#es{z-index: 3}

#mainPage, #letstry{
  width: 100vw;
  height: 100vh;
  background-image: url("./fotos/mainpage.jpg");

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}



@media (max-width: 768px) {
  #mainPage{
    background-position: 30% 30%; 
  }

  #mainPage h1{
    font-size: 3rem;
    margin-left: 13%;
    margin-top: 80%;
    padding: 50px 80px;
  }
}

#letstry{
  background-position: 40% 100%; 
  margin-top: -100vh;
  background-image: url("./fotos/letstry-01.png");
}

footer{
  color: #0cdfdf;
}