*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}

nav a{
  margin: 0 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.CA, .EN{
  display: none;
}

#ca{z-index: 3}
#en{z-index: 1}
#es{z-index: 2}

#mainPage{
  width: 100vw;
  height: 100vh;
  background-image: url("./fotos/mainpage.jpg");

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

footer{
  color: #0cdfdf;
}